// Tables
/* Rectangle 3: */

.table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  width: 100%;
  color: #3f4040;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.10);
  transition: 3s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    transform: translateY(-0.3rem);
  }
  tr {
    background: $bg-color-light;
  }
  thead {
    background: $bg-color-light;
  }
  &.table-striped {
    tbody {
      tr:nth-of-type(even) {
        background: $bg-color-light;
      }
      tr:nth-of-type(odd) {
        background: $bg-color;
      }
    }
  }

  &.table-hover {
    tbody {
      tr {
        &:hover {
          background: $bg-color-dark;
        }
      }
    }
  }

  &,
  &.table-striped {
    tbody {
      tr {    
        &.active {
          background: $bg-color-dark;
        }
      }
    }
  }

  td,
  th {
    max-width: 100%;
    border-bottom: $border-width solid $border-color;
    padding: $unit-4 $unit-5;
    white-space: nowrap;
    text-overflow: ellipsis;
    
  }
  th {
    border-bottom-width: $border-width-lg;
  }
}
